      <div class="left_top">
       <div class="left_top_left">
        <div id="fader">
         <ul>
          <li><a href="content/content_1_3.html" title=""><img src="__PUBLIC__/images/app/ct13.jpg" width="372px" height="242px" alt="奥巴马致电胡锦涛 表示珍视两人所作共同努力"></a></li>
          <li><a href="content/content_2_6.html" title=""><img src="__PUBLIC__/images/app/ct26.jpg" width="372px" height="242px" alt="李克强：中国将全面深化改革扩大开放"></a></li>
          <li><a href="content/content_3_6.html" title=""><img src="__PUBLIC__/images/app/ct36.jpg" width="372px" height="242px" alt="新华网评：改革，唯一和最好的选择"></a></li>
          <li><a href="content/content_4_5.html" title=""><img src="__PUBLIC__/images/app/ct45.jpg" width="372px" height="242px" alt="解读生育新政：单独二胎，生？还是不生？"></a></li>
          <li><a href="http://v.ifeng.com/news/mainland/201311/01b249a6-5c86-4970-8152-4a5525cd562a.shtml" title=""><img src="__PUBLIC__/images/app/ct6.jpg" width="372px" height="242px" alt="[文汇报] 曝三中全会将划最严生态红线 逾线官员将被问责"></a></li>
        </ul>
      </div><!--fader(banner) end-->
      <script type="text/javascript" src="__PUBLIC__/javascript/app/banner2.js"></script> 
      <div class="menu">
       <h1>信息公开<a class="more" href="" title="">更多>></a></h1>
       <div class="clear"></div>
       <div class="list">
        <ul>
         <foreach name='info' item='v'>
          <li><a href="{:U('Index/handleArticle',array('type'=>'info','id'=>$v['id']))}" title="">{$v.title}<span class='fr'>{$v.updated_at|date='Y-m-d H:i',###}</span></a></li>
        </foreach>
      </ul>
    </div><!--list end-->
  </div><!--scdt end-->
  <div class="menu">
   <h1>食品药品监管新闻<a class="more" href="" title="">更多>></a></h1>
   <div class="clear"></div>
   <div class="list">
    <ul>
      <foreach name='news' item='v'>
        <li><a href="{:U('Index/handleArticle',array('type'=>'news','id'=>$v['id']))}" title="">{$v.title}<span class='fr'>{$v.updated_at|date='Y-m-d H:i',###}</span></a></li>
      </foreach>
    </ul>  
  </div>      
</div><!--hyaq end-->
</div><!--top_left_zuo end-->

<div class="left_top_right">
  <div class="menu">
    <h1>机构职能<a class="more" href="" title="" tar>更多>></a></h1>
    <div class="clear"></div>
    <div class="list">
      <ul>                   
        <foreach name='function' item='v'>
          <li><a href="{:U('Index/handleArticle',array('type'=>'function','id'=>$v['id']))}" title="">{$v.title}<span class='fr'>{$v.updated_at|date='Y-m-d H:i',###}</span></a></li>
        </foreach>
      </ul>
    </div>
  </div><!--hyyw end-->
  <div class="menu">
    <h1>抽验报告<a class="more" href="" title="">更多>></a></h1>
    <div class="clear"></div>
    <div class="list">
      <ul>
        <foreach name='report' item='v'>
          <li><a href="{:U('Index/handleArticle',array('type'=>'report','id'=>$v['id']))}" title="">{$v.title}<span class='fr'>{$v.updated_at|date='Y-m-d H:i',###}</span></a></li>
        </foreach>
      </ul>
    </div>
  </div><!--hyfx end-->
  <div class="menu">
   <h1>文件通知<a class="more" href="" title="">更多>></a></h1>
   <div class="clear"></div>
   <div class="list">
    <ul>                    
      <foreach name='notice' item='v'>
        <li><a href="{:U('Index/handleArticle',array('type'=>'notice','id'=>$v['id']))}" title="">{$v.title}<span class='fr'>{$v.updated_at|date='Y-m-d H:i',###}</span></a></li>
      </foreach>                       
    </ul>
  </div><!--list end-->
</div><!--dfdt end-->

</div><!--top_left_you end-->
      </div><!--left_top end-->