<div id="floater" style="position:absolute;z-index:999;">
    <a href="{:U('Index/handleArticle',array('type'=>'inform','id'=>$inform[0]['id']))}">
        <img src="/Jczd/{$inform[0].image}">
    </a>
</div>
<script type="text/javascript" src="__PUBLIC__/javascripts/app/float.js"></script>

<div class="left_top">
    <div class="left_top_left">
        <div id="fader">
            <ul>
                <foreach name='banner' item='v'>
                    <li>
                        <a href="{:U('Index/handlePicture',array('type'=>'banner','id'=>$v['id']))}" title="">
                            <img src="/Jczd/{$v.picture}" alt="{$v.title}">
                        </a>
                    </li>
                </foreach>
            </ul>
        </div>
        <!--fader(banner) end-->
        <script type="text/javascript" src="__PUBLIC__/javascripts/app/banner2.js"></script>
        <div class="menu">
            <h1>文件通知
                <img class="titlePic" src="__PUBLIC__/images/app/notice.png" alt=""><a class="more" href="{:U('Notice/index')}" title="文件通知" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='notice' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'notice','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <!--list end-->
        </div>
        <!--dfdt end-->

        <div class="menu">
            <h1>机构职能
                <img class="titlePic" src="__PUBLIC__/images/app/function.png" alt=""><a class="more" href="{:U('Function/index')}" title="机构职能" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='function' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'function','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <!--list end-->
        </div>
        <!--dfdt end-->
        <div class="menu">
            <h1>抽验报告
                <img class="titlePic" src="__PUBLIC__/images/app/report.png" alt=""><a class="more" href="{:U('Report/index')}" title="抽验报告" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='report' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'report','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
        <!--hyfx end-->
    </div>
    <!--top_left_zuo end-->

    <div class="left_top_right">
        <div class="menu">
            <h1>政务动态
                <img class="titlePic" src="__PUBLIC__/images/app/policy.png" alt=""><a class="more" href="{:U('Policy/index')}" title="政务动态" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='policy' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'policy','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <!--list end-->
        </div>
        <!--dfdt end-->

        <div class="menu">
            <h1>食品药品监管
                <img class="titlePic" src="__PUBLIC__/images/app/news.png" alt=""><a class="more" href="{:U('News/index')}" title="食品药品监管" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='news' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'news','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
        </div>
        <!--hyaq end-->
        <div class="menu">
            <h1>法律法规
                <img class="titlePic" src="__PUBLIC__/images/app/law.png" alt=""><a class="more" href="{:U('law/index')}" title="法律法规" target="blank">More</a>
            </h1>
            <div class="clear"></div>
            <div class="list">
                <ul>
                    <foreach name='law' item='v'>
                        <li><a href="{:U('Index/handleArticle',array('type'=>'law','id'=>$v['id']))}" title="">{$v.title} ({$v.updated_at|date='Y-m-d',###})</a>
                        </li>
                    </foreach>
                </ul>
            </div>
            <!--list end-->
        </div>
        <!--dfdt end-->


    </div>
    <!--top_left_you end-->
</div>
<!--left_top end-->
