<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>合肥市食品药品稽查支队</title>
<link href="__PUBLIC__/stylesheets/app/style.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/stylesheets/app/header.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/stylesheets/app/global.css" />
<script type="text/javascript" src="__PUBLIC__/javascripts/app/banner1.js"></script>
</head>
<body>
<!--top begin-->
<div class="top">
 <div class="wrap">
  <span class="fl">合肥市食品药品稽查支队</span>
 </div>
</div>

<!--top end-->
<!--header begin-->
<div class="header">
 <div class="wrap">
  
  <div class="search_box">
   <a href="#" title="" target="_blank"><img src="__PUBLIC__/images/app/logo.jpg" width="1004px" height="173px"  alt="" class="fl"/></a>
      
   </div>
   <div class="cb"></div>
  </div>
 </div>

 <div class="nav">
  <div class="wrap">
   <ul class="nav_left">
    <li><a href="{:U('Index/index')}">首 页</a></li>
    <li><a href="{:U('Function/index')}" title="">机构职能</a></li>
    <li><a href="{:U('Info/index')}" title="">信息公开</a></li>
    <li><a href="{:U('Report/index')}" title="">抽验报告</a></li>
    <li><a href="{:U('News/index')}" title="">食品药品监管新闻</a></li>
    <li><a href="{:U('Notice/index')}" title="">文件通知</a></li>
    <li><a href="{:U('Policy/index')}" title="">政务动态</a></li>
   </ul>
   <ul class="nav_right">
    <li><a href="#" onclick="alert('此功能施工中...')"title="">加入收藏夹</a><span>|</span></li>
    <li><a  href="#" onclick="alert('此功能施工中...')" title="">联系我们</a></li>
    
   </ul>
  </div>
 </div>
</div>
<!--header end-->
<div id="container">
<div class="content">
   <div class="clear"></div>
   <div id="test">
<!--      <foreach name='function' item='v'>
      <h1>{$v.title}</h1>
      <h2>{$v.updated_at|date='Y-m-d H:i',###}</h2>
      {$v.content}
     </foreach> -->
   </div>
   <div class="content_left">
{__CONTENT__}
     
   </div><!--content_left end-->
   <div class="content_right">
      <div class="rdsp">
        <h1>热点视频</h1>
        <ul>
            <li><a href="http://news.xinhuanet.com/video/2013-11/19/c_125728773.htm" title="" target="_blank"><img src="__PUBLIC__/images/app/rdsp.jpg" width="108px" height="110px" alt="" /><span>习近平:宣讲要讲全、讲透、讲实</span></a></li>
            <li><a href="http://news.xinhuanet.com/video/2013-11/19/c_125725627.htm" title="" target="_blank"><img src="__PUBLIC__/images/app/rdsp.jpg" width="108px" height="110px" alt="" /><span>三中全会《决定》诞生记</span></a></li>
            <li><a href="http://news.xinhuanet.com/video/2013-11/21/c_125740204.htm" title="" target="_blank"><img src="__PUBLIC__/images/app/rdsp.jpg" width="108px" height="110px" alt="" /><span>驻华使节解读十八届三中全会精神</span></a></li>
            <li><a href="http://news.xinhuanet.com/video/2013-11/20/c_125735659.htm" title="" target="_blank"><img src="__PUBLIC__/images/app/rdsp.jpg" width="108px" height="110px" alt="" /><span>政协十二届常委会第三次会议闭幕</span></a></li>
        </ul>
      </div><!--rdsp end-->
           <div class="rwzf">
               <h1>人物专访</h1>
               <div class="intro">
                  <a href="" title=""><img src="__PUBLIC__/images/app/rwzf1.jpg" width="100px" height="113px" alt="" /></a>
                  <h2><a href="http://www.news.cn/xhft/20131112a/" title="">宋世明</a></h2>
                  <p>国家行政学院公共管理教研部教授宋世明做客新华访谈...<a href="http://www.news.cn/xhft/20131112a/" title="">[详细]</a></p>
               </div><!--intro end-->
               <div class="intro">
                  <a href="" title=""><img src="__PUBLIC__/images/app/rwzf2.jpg" width="100px" height="113px" alt="" /></a>
                  <h2><a href="http://www.news.cn/xhft/20131113a/" title="">任建明</a></h2>
                  <p>中央纪委监察部特邀监察员任建明做客新华网访谈室...<a href="http://www.news.cn/xhft/20131113a/" title="">[详细]</a></p>
               </div><!--intro end-->
               <div class="intro">
                  <a href="" title=""><img src="__PUBLIC__/images/app/rwzf3.jpg" width="100px" height="113px" alt="" /></a>
                  <h2><a href="http://www.news.cn/xhft/20131112a/" title="">周天勇</a></h2>
                  <p>中央党校国际战略研究所副所长周天勇做客新华访谈...<a href="http://www.news.cn/xhft/20131112a/" title="">[详细]</a></p>
               </div><!--intro end-->
           </div><!--rwzf end-->
          
   </div><!--content_right end-->

</div>
<div class="clear"></div><!--清除浮动-->
   <div class="link">
      <h1></h1>
      <ul>
         <li><a href="http://www.xinhuanet.com/" title="">新华网</a></li>
         <li><a href="http://news.ifeng.com/" title="">凤凰新闻</a></li>
         <li><a href="http://news.sina.com.cn/" title="">新浪新闻</a></li>
         <li><a href="http://news.qq.com/" title="">滕讯新闻</a></li>
      </ul>
   </div><!--link end-->
</div><!--content end-->
<div class="footer">
   <ul>
       <li class="li_left">合肥市食品药品稽查支队</li>
       <li class="li_right">2014-10</li>
     
   </ul>
</div><!--footer end-->
</body>
</html>
