<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8" />
<title>合肥市食品药品稽查支队</title>
<!--link rel="shortcut icon" href="favicon.ico" /-->
<link href="__PUBLIC__/stylesheets/app/style.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/stylesheets/app/header.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/stylesheets/app/global.css" />
<script type="text/javascript" src="__PUBLIC__/javascripts/app/banner1.js"></script>
<script type="text/javascript" src="__PUBLIC__/javascripts/app/jquery.min.js"></script>
<script type="text/javascript"> 
  $(function(){
    var time=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());  
    $('.currentTime').text(time);
    setInterval(function(){
      time=new Date().toLocaleString()+' 星期'+'日一二三四五六'.charAt(new Date().getDay());  
      $('.currentTime').text(time);
    },1000);
  });
</script>
</head>
<body>
<!--top begin-->
<div class="top">
 <div class="wrap">
  <span class="fl">合肥市食品药品稽查支队</span>
  <span class='fr currentTime'></span>
 </div>
</div>

<!--top end-->
<!--header begin-->
<div class="header">
 <div class="wrap">
  
  <div class="search_box">
   <a href="#" title="" target="_blank"><img src="__PUBLIC__/images/app/logo.jpg" width="1004px" height="173px"  alt="" class="fl"/></a>
      
   </div>
   <div class="cb"></div>
  </div>
 </div>

 <div class="nav">
  <div class="wrap">
   <ul class="nav_left">
    <li><a href="{:U('Index/index')}">首 页</a></li>
    <li><a href="{:U('Function/index')}" title="">机构职能</a></li>
    <!--li><a href="{:U('Info/index')}" title="">信息公开</a></li-->
    <li><a href="{:U('Report/index')}" title="">抽验报告</a></li>
    <li><a href="{:U('News/index')}" title="">食品药品监管</a></li>
    <li><a href="{:U('Notice/index')}" title="">文件通知</a></li>
    <li><a href="{:U('Policy/index')}" title="">政务动态</a></li>
    <li><a href="{:U('Law/index')}" title="">法律法规</a></li>
   </ul>
   <ul class="nav_right">
    <li><a href="#" onclick="alert('此功能施工中...')"title="">加入收藏夹</a>
   </ul>
  </div>
 </div>
</div>
<!--header end-->
<div id="container">
<div class="content">
   <div class="clear"></div>
   <div id="test">
<!--      <foreach name='function' item='v'>
      <h1>{$v.title}</h1>
      <h2>{$v.updated_at|date='Y-m-d H:i',###}</h2>
      {$v.content}
     </foreach> -->
   </div>
   <div class="content_left">
{__CONTENT__}
     
   </div><!--content_left end-->
   <div class="content_right">
      <div class="icon">
        <ul>
          <li><img src="__PUBLIC__/images/app/food.jpg"></li>
          <li><img src="__PUBLIC__/images/app/bjshp.jpg"></li>
          <li><img src="__PUBLIC__/images/app/drug.jpg"></li>
          <li><img src="__PUBLIC__/images/app/hzp.jpg"></li>
          <li><img src="__PUBLIC__/images/app/ylqx.jpg"></li>
          <li><img style="width:240px;" src="__PUBLIC__/images/app/info.jpg"></li>

        </ul>
      <div class="info">
        <!-- <h1>政府信息公开</h1> -->
        <ul>
          <li class="first"><img src="__PUBLIC__/images/app/nyright.jpg"></li>
          <li><img src="__PUBLIC__/images/app/nyright.jpg"></li>
          <li><img src="__PUBLIC__/images/app/nyright.jpg"></li>
          <li><img src="__PUBLIC__/images/app/nyright.jpg"></li>
          <li><img src="__PUBLIC__/images/app/nyright.jpg"></li>
          <li><img src="__PUBLIC__/images/app/nyright.jpg"></li>
        </ul>
      </div>
      
      <div class="menuRight">
        <h1>联系我们</h1>
        <img class="tousu" src="__PUBLIC__/images/app/tousu.jpg">
        <img class="xinxiang" src="__PUBLIC__/images/app/xinxiang.jpg">
      </div>
      <div class="menuRight">
        <h1>文件下载</h1>
      </div>
          
   </div><!--content_right end-->

</div>
<div class="clear"></div><!--清除浮动-->
  <div class="contact">  
    <img src="__PUBLIC__/images/app/contactus.jpg">
  </div>
   <div class="link">
      <h1>友情链接</h1>
      <ul>
         <li><img src="__PUBLIC__/images/app/cfda.gif" href="www.sda.gov.cn" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/ahfda.gif" href="http://www.ada.gov.cn/" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/hffda.png" href="http://yjj.hefei.gov.cn/" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/cffda.gif" href="http://www.cffda.cn/" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/fdfda.gif" href="http://www.fdda.gov.cn/main/" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/fxfda.gif" href="http://www.feixifda.gov.cn/" title="" target='blank'></li>
         <li><img src="__PUBLIC__/images/app/hfs.png" href="http://www.hefei.gov.cn/" title="" target='blank'></li>
      </ul>
   </div><!--link end-->

</div><!--content end-->

<div class="footer">
   <ul>
       <li class="li_left">合肥市食品药品稽查支队</li>
       <li class="li_right currentTime"></li>
     
   </ul>
</div><!--footer end-->
</body>
</html>
